html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
body{
    height: 100vh;
}
p{
    margin: 0;
    font-family: Roboto;
}
body,.info{
    display: flex;
    justify-content: center;
    align-items:center;
}
.circle1-profile{
    position: absolute;
    border-radius: 500px;
    width: 460px;
    height: 460px;
    right: -78px;
    top: -130px;
    background: #0D2B29;
    z-index: 0;
}
.circle2-profile{
    position: absolute;
    border-radius: 500px;
    width: 460px;
    height: 460px;
    left: -78px;
    bottom: -130px;
    background: #94C550;
    z-index: 0;
}
.hello{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 40px;
    left: 50px;
}
.hello p{
    margin-right: 80px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.profile-page{
    background: white;
    padding: 0px 0px 0px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: absolute;
    border-radius: 20px;
    flex-direction: row;
    height: 352px;
    width: 586px;
    box-shadow:0px 0px 30px rgb(175, 176, 177);
}
.textfield-biodata{
    margin: 0px 0px 10px 0px;
    border: 0px;
    border-radius: 5px;
    width: 280px;
    height: 25px;
    background: #CDCFCF;
}
.biodata{
    display: flex;
    flex-direction: column;
    width: 330px;
}
.biodata p{
    font-size: 13px;
}
.info{
    flex-direction: column;
    width: 246px;
}
.info p{
    font-size: 25px;
    font-weight: bold;
}
.profile-photo{
    margin: 20px 0px 20px 0px;
}
img{
    border-radius: 1000px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.profile-btn{
    background: #0D2B29;
    color: white;
    border: 0;
    border-radius: 10px;
    width: 101px;
    height: 40px;
    margin-bottom: 13px;
}